   .container-fluid-2 {
    display: grid;
    width: 1346px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "historia" "directiva" "reglamento";
  }
  
  .historia {
    grid-area: historia;
    background-image: linear-gradient(110.5deg, rgba(248, 196, 249, 0.66) 22.8%, rgba(253, 122, 4, 0.15) 64.6%);
    color: rgb(168, 8, 8);
    font-family: 'Bebas Neue', cursive;
    padding: 159px 54px;
    border: 5px dashed rgb(168, 8, 8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    font-size: 20px;
  
    h2 {
      font-size: 50px;
    }
  }
  
  .directiva {
    grid-area: directiva;
    background: #ED213A;
  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(255, 248, 248);
    font-family: 'Bebas Neue', cursive;
    padding: 74px 54px;
    border: 5px dashed rgb(255, 248, 248);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 30px;
  }
  
  .reglamento {
    grid-area: reglamento;
    background-image: linear-gradient(110.5deg, rgba(248, 196, 249, 0.66) 22.8%, rgba(253, 122, 4, 0.15) 64.6%);
    color: rgb(168, 8, 8);
    font-family: 'Bebas Neue', cursive;
    border: 5px dashed rgb(168, 8, 8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 40px;
  }