  /**TABLET**/
  
  @media (max-width: 768px) {
    .container-fluid {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3);
    }
  
    .header {
      font-size: 10px;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
      }
    
      .socios, section.partidosYoutube {
        margin: 20px;
      }
    }